<!-- nternational -->
<!--
<section id="intl">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nos Rendez-vous</h2>
            <h3 class="section-subheading text-muted text-uppercase">Internationaux</h3>
        </div>
    </div>
</section>
-->


<section id="news">
    <div class="container-fluid text-center">
        <h2 class="section-heading">Nos Rendez-vous</h2>
        <h3 class="section-subheading text-muted text-uppercase">Internationaux</h3>
        <ul class="list-inline">
            <div class="row">
                <li class="list-inline-item col-md-6">
                    <article><a href="#">
                        <img src="assets/img/post-1-thumbnail.jpg" alt="Pont-Paris">
                        <div class="article-content">
                            <span class="article-date">Paris - 03/08</span>
                            <h3>hello MINIATION NISI ALIQUIP TEMPOR CONSECTER</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat doloribus eius nemo iure, accusantium quam odit aspernatur obcaecati corporis. Necessitatibus similique est eligendi soluta voluptatibus fugit beatae architecto cupiditate porro?</p>
                            <span class="article-more">─ Voir</span>
                        </div>
                    </a></article>
                </li>
                <li class="list-inline-item col-md-6">
                    <article><a href="#">
                        <img src="assets/img/post-2-thumbnail.jpg" alt="Wedding-Flower">
                        <div class="article-content">
                            <span class="article-date">Guadeloupe - 25/07</span>
                            <h3>AD MINIATION NISI ALIQUIP TEMPOR CONSECTER</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dignissimos porro accusantium. Enim officiis qui culpa ad quidem, modi pariatur voluptatum. Ducimus laboriosam vel fuga, neque inventore explicabo reiciendis rerum!</p>
                            <span class="article-more">─ Voir</span>
                        </div>
                    </a></article>
                </li>
            </div>
            <div class="row">
                <li class="list-inline-item col-md-6">
                    <article><a href="#">
                        <img src="assets/img/post-3-thumbnail.jpg" alt="Wedding-Flowers-2">
                        <div class="article-content">
                            <span class="article-date">Londres - 10/07</span>
                            <h3>AD MINIATION NISI ALIQUIP TEMPOR CONSECTER</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A incidunt veniam corporis culpa sit cum officia, impedit, consequuntur autem ab quas quae. Nemo similique, dolor consectetur ex repellat ut placeat.</p>
                            <span class="article-more">─ Voir</span>
                        </div>
                    </a></article>
                </li>
                <li class="list-inline-item col-md-6">
                    <article><a href="#">
                        <img src="assets/img/post-4-thumbnail.jpg" alt="Wedding-Couple">
                        <div class="article-content">
                            <span class="article-date">Paris - 30/06</span>
                            <h3>AD MINIATION NISI ALIQUIP TEMPOR CONSECTER</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, molestias. Omnis excepturi atque, quos voluptas nihil deserunt soluta minima adipisci culpa, voluptatibus facilis doloribus dolores. Totam expedita ad, corrupti cum.</p>
                            <span class="article-more">─ Voir</span>
                        </div>
                    </a></article>
                </li>
            </div>
        </ul>
    </div>
</section>
